<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>Title goes here</title>
  <meta http-equiv="refresh" content="5">
  <meta http-equiv="pragma" content="no-cache">
</head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"
 link="#000099" vlink="#990099" alink="#000099">
<h1></h1>
<div style="position: absolute; top: 10px; left: 50px;"> <img
 src="schematic.jpg">
</div>
<div style="position: absolute; top: 53px; left: 132px;"> 
<img src=$$$$DI(DI13|"closed.jpg"|"open.jpg")>
</div>
<div style="position: absolute; top: 53px; left: 231px;"> 
<img src=$$$$DI(DI14|"closed.jpg"|"open.jpg")>
</div>
<div style="position: absolute; top: 390px; left: 181px;"> 
<img src=$$$$DI(DI15|"closed.jpg"|"open.jpg")>
</div>
<div style="position: absolute; top: 390px; left: 252px;"> 
<img src=$$$$DI(DI16|"closed.jpg"|"open.jpg")>
</div>
<br>
<div style="position: absolute; top: 50px; left: 400px;">
<big><big><big>Subestaci&oacute;n
Juarez</big></big></big>
</div>
<div style="position: absolute; top: 100px; left: 400px;">
Ultima Actualizaci&oacute;n: $$$$TIME(                                                                              )
</div>
</body>
</html>
