# tag
# description
# Cold Temperature (AI)
# Hot Temperature (AI)
# AC Unit is ON (DI)
# Disable (shut off) AC Unit (DO) (because it does not work)
# Response time before checking performance
table|AC Monitor|ac|ac_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Cold Temperature (AI)|cold_temp_tag|25|
string|Hot Temperature (AI)|hot_temp_tag|25|
string|AC Unit is On (DI)|unit_running_tag|25|
string|Diaable (shut off) AC Unit (DO)|unit_disable_tag|25|
double|Delay before checking performance|delay|
