#    Tag
#    Description
#    Engineering Units Label
#    Driver Number
#    Card
#    Channel
#    Engineering Units Low
#    Engineering Units High
#    Raw Value Low
#    Raw Value High
#    Decimal Places
#    Output Limit Low
#    Output Limit High
table|Analog Ouput|ao|ao_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
separator|Driver|
int|Driver|driver|
int|Card|card|
int|Channel|channel|
separator|Engineering Units|
double|Engineering Units Low|eu_lo|
double|Engineering Units High|eu_hi|
double|Raw Value Low|raw_lo|
double|Raw Value High|raw_hi|
int|Decimal Places|decimal_places|
double|Output Limit Low| output_limit_lo|
double|Output Limit High| output_limit_hi|
separator|Scale|
double|Scale Low|scale_lo|
double|Scale high|scale_hi|

