table|Data|data|data_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|File Name|file_name|20|
int|Max Time (seconds)|max_time|
separator|Tags|
string|Tags|tags|80|
#array[{string,Tag,25}]|Tags to Record:|tags|
#    Tag
#    Description
#    File Name 
#    max_time
#    Tag 1 
#    Tag 2 
#    . . . . 
#    Tag N
