#    Tag
#    Description
#    Driver Number
#    Card
#    Channel
#    Low Description
#    High Description
#    Invert PV?
table|Discrete Output|do|do_point_t|
Separator|Basic Configuration|
string|Tag|tag|15|
string|Description|description|20|
int|Driver|driver|25|
int|Card|card|25|
int|Channel|channel|
string|Low Description|lo_desc|12|
string|High Description|hi_desc|12|
bool|Invert PV?|invert_pv|
