table|PID Control|pid|pid_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
int|Decimal Places|decimal_places|
double|Setpoint Limit Low|setpoint_limit_lo|
double|Setpoint Limit High|setpoint_limit_hi|
separator|PID Configuration|
double|Proportional Gain|p_gain|
double|Integral Time|i_time|
double|Derivitive Time|d_time|
string|Analog Input Point|ai_tag|25|
string|Analog Output Point|ao_tag|25|
separator|Deviation Alarms|
double|Deviation Alarm|deviation_alarm|
double|Deviation Caution|deviation_caution|
double|Deviation Delay|deviation_delay|
bool|Deviation Alarm Enable|dev_alarm_enable|
bool|Deviation Alarm Shutdown|dev_alarm_shutdown|
bool|Deviation Caution Enable|dev_caution_enable|
double|Scale Low|scale_lo|
double|Scale high|scale_hi|
