table|Remote PID|remote_pid|remote_pid_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
int|Decimal Places|decimal_places|
double|Setpoint Limit High|setpoint_limit_hi|
double|Setpoint Limit Low|setpoint_limit_lo|
separator|PID Configuration|
double|Proportional Gain|p_gain|
double|Integral Time|i_time|
double|Derivitive Time|d_time|
separator|Tags|
string|Analog Input Tag|ai_tag|25|
string|Analog Output Tag (open loop)|ao_tag|25|
string|Set Point tag|spt_tag|25|
string|Enable Control Tag|enable_tag|25|
string|Proportional Gain Tag|p_tag|25|
string|Integral Time Tag|i_tag|25|
string|Derivitive Time Tag|d_tag|25|
separator|Deviation Alarms|
double|Deviation Alarm|deviation_alarm|
double|Deviation Caution|deviation_caution|
double|Deviation Delay|deviation_delay|
bool|Deviation Alarm Enable|dev_alarm_enable|
bool|Deviation Alarm Shutdown|dev_alarm_shutdown|
bool|Deviation Caution Enable|dev_caution_enable|
separator|scale|
double|Scale Low|scale_lo|
double|Scale high|scale_hi|
