table|Scan|scan|scan_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|File Name|file_name|20|
int|Max Samples|max_samples|
separator|Tags|
string|Tags to Record:|tags|50|
#array[{string,Tag,25}]|Tags to Record:|tags|
#
#    Tag
#    Description
#    File Name
#    Max Samples 
#    Tag 1
#    Tag 2
#    . . . .
#    Tag N
