table|Discrete Calc|dcalc|dcalc_t|
Separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Low Description|lo_desc|12|
string|High Description|hi_desc|12|
Separator|Alarms|
dropdown|Alarm State|alarm_state|High,Low,None|H,L,N|
dropdown|Shutdown State|shutdown_state|High,Low,None|H,L,N|
string|Tags to Record:|json_string|50|
#array[{string,Tag,25}]|Tags to Record:|tags|
#HaveAlarm|One Alarm is active|Normal|Alarm|H|N|[di01,di02,di03,di04,di05,di06,di07,di08,di09,di10,di11,di12]|
#    Tag
#    Description
#    Low Description
#    High Description
#    Alarm State
#    Shutdown State
#    Tags (array)
