table|Discrete Logger|discrete_logger|discrete_logger_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Base File Name|base_name|20|
bool|Hour Totals?|log_hour_totals|
string|Tags and Log Type|json_string|50|
#array|Tags and Log Type|logdata|[[string,"Tag",25],[dropdown,"Log Type",[Rising,R],[Falling,F],[Both,B]]]|
#array[object{{string,Tag,25}:{dropdown,Log Type,Rising,R,Falling,F,Both,B}}]
#array[object{{string,Tag,25}:{dropdown,Log Type,(High,Low,None),(H,L,N))}}]|Tags to Record and R/F/B:|tags|
#dropdown|Alarm State|alarm_state|High,Low,None|H,L,N|
#dlogger_1|My dlogger|silo_d_logger|1|[{PUMP1_ON,B},{PUMP2_ON,B},{LO_LEVEL,F},{HI_HI_LEVEL,R},{HI_LEVEL,B}]|
#    Tag
#    Description
#    Base File Name (actual name is base + YYYYMMDD) (can include path) 
#    Log hour totals? (T/F)
#    Tag 1 
#    Log Rising, Falling, or Both? (R/F/B)
#    Tag 2 
#    Log Rising, Falling, or Both? (R/F/B)
#    . . . . 
#    Tag N 
#    Log Rising, Falling, or Both? (R/F/B)
