#    Tag
#    Description
#    Engineering Units Label
#    Driver Number
#    Card
#    Channel
#    EU per count
#    minimum counts for calculation
#    rollover count
#    time factor (time is in seconds, to convert to minutes, use 60)
#    Decimal Places
#    Zero Cutoff
#    Alarm Low
#    Caution Low
#    Caution High
#    Alarm High
#    Alarm Deadband
#    Alarm Low Enable
#    Caution Low Enable
#    Caution High Enable
#    Alarm High Enable
table|Pulse Count Input|pci|pci_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
separator|Driver|
int|Driver|driver|25|
int|Card|card|25|
int|Channel|channel|
double|EU Per Count|eu_per_count|
int|Minimum Counts for Calculation|min_counts_for_calc|
int|Rollover Count|rollover_count|
double|Time Factor|time_factor|
int|Decimal Places|decimal_places|
double|Zero Cutoff|zero_cutoff|
separator|Alarms|
double|Alarm Low|lo_alarm|
double|Caution Low|lo_caution|
double|Caution High|hi_caution|
double|Alarm High|hi_alarm|
double|Alarm Deadband|deadband|
bool|Alarm Low Enable|lo_alarm_enable|
bool|Caution Low Enable|lo_caution_enable|
bool|Caution High Enable|hi_caution_enable|
bool|Alarm High Enable|hi_alarm_enable|
