#pid1|My PID point|RPM|1|500.0|0.0|0.2|0.8|0.05|AI0|AO0|0.0|0.0|0.0|0|0|0|
#pid1|My PID point|RPM|1|500.0|0.0|1.8|0.2|0.05|AI0|AO0|0.0|0.0|0.0|0|0|0|
#pid1|My PID point|RPM|1|500.0|0.0|0.9|0.4|0.05|AI0|AO0|0.0|0.0|0.0|0|0|0|
# tag
# description
# eu
# decimal
# setpoint_limit_hi
# setpoint_limit_lo
# p_gain 
# i_time
# d_time
# ai_point
# ao_point
# deviation_alarm
# deviation_caution
# deviation_delay
# dev_alarm_enable
# dev_alarm_shutdown
# dev_caution_enable
table|PID Control|pid|pid_point_t|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
int|Decimal Places|decimal_places|
double|Setpoint Limit High|setpoint_limit_hi|
double|Setpoint Limit Low|setpoint_limit_lo|
separator|PID Configuration|
double|Proportional Gain|p_gain|
double|Integral Time|i_time|
double|Derivitive Time|d_time|
string|Analog Input Point|ai_tag|25|
string|Analog Output Point|ao_tag|25|
separator|Deviation Alarms|
double|Deviation Alarm|deviation_alarm|
double|Deviation Caution|deviation_caution|
double|Deviation Delay|deviation_delay|
bool|Deviation Alarm Enable|dev_alarm_enable|
bool|Deviation Alarm Shutdown|dev_alarm_shutdown|
bool|Deviation Caution Enable|dev_caution_enable|

