<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<title>Silos los mochis</title>
<meta http-equiv="refresh" content="5">
<meta http-equiv="pragma" content="no-cache">
</HEAD>
<BODY LANG="en-US">
<body style="color: rgb(0, 0, 0); background-color: rgb(150, 150, 150);"
 link="#000099" vlink="#990099" alink="#000099">

<big><strong>Ultima Actualizaci&oacute;n: $$$$TIME(                                                                              )</big></strong><br>
<br><br><br>
<big><big><strong>Correrepe:</strong></big></big>
<br><br>
Temp Ambiente : $$$$AI(U1_temp_amb) °C<br>
Humedad Rel   : $$$$AI(U1_hum_rel) %<br>
Silo 1 Fan 1  : $$$$DI(U1_S1_FAN1_IS_ON|ON|OFF)<br>
Silo 1 Fan 2  : $$$$DI(U1_S1_FAN2_IS_ON|ON|OFF)<br>
<br><br><br>
<big><big><strong>Cooperativo:</strong></big></big>
<br><br>
Temp Ambiente : $$$$AI(U2_temp_amb) °C<br>
Humedad Rel   : $$$$AI(U2_hum_rel) %<br>
Silo 1 Fan 1  : $$$$DI(U2_S1_FAN1_IS_ON|ON|OFF)<br>
Silo 1 Fan 2  : $$$$DI(U2_S1_FAN2_IS_ON|ON|OFF)<br>
Silo 2 Fan 1  : $$$$DI(U2_S2_FAN1_IS_ON|ON|OFF)<br>
Silo 2 Fan 2  : $$$$DI(U2_S2_FAN2_IS_ON|ON|OFF)<br>
<br><br><br>
Modbus 1 responding : $$$$DI(MOD_ID_1_OK|Yes|NO)<br>
Modbus 2 responding : $$$$DI(MOD_ID_2_OK|Yes|NO)<br>
Modbus 3 responding : $$$$DI(MOD_ID_3_OK|Yes|NO)<br>
Modbus 4 responding : $$$$DI(MOD_ID_4_OK|Yes|NO)<br>
Modbus 5 responding : $$$$DI(MOD_ID_5_OK|Yes|NO)<br>
</BODY>
</HTML>
