#    Tag
#    Description
#    Engineering Units Label
#    Driver Number
#    Card
#    Channel
#    Engineering Units Low
#    Engineering Units High
#    Raw Value Low
#    Raw Value High
#    Decimal Places
#    Zero Cutoff
#    Alarm Low
#    Caution Low
#    Caution High
#    Alarm High
#    Alarm Deadband
#    Alarm Low Enable
#    Caution Low Enable
#    Caution High Enable
#    Alarm High Enable
table|Analog Input|AI|
separator|Basic Configuration|
string|Tag|TAG|25|
string|Description|DESCRIPTION|50|
string|Engineering Units Label|EU_LABEL|12|
separator|Driver|
string|Driver|DRIVER|25|
string|Card|CARD|25|
int|Channel|CHANNEL|
separator|Engineering Units|
double|Engineering Units Low|EU_LO|
double|Engineering Units High|EU_HI|
double|Raw Value Low|RAW_LO|
double|Raw Value High|RAW_HI|
int|Decimal Places|DECIMAL_PLACES|
double|Zero Cutoff|ZERO_CUTOFF|double|
separator|Alarms|
double|Alarm Low|ALARM_LO|
double|Caution Low|CAUTION_LO|double|
double|Caution High|CAUTION_HI|double|
double|Alarm High|ALARM_HI|double|
double|Alarm Deadband|ALARM_DEADBAND|double|
bool|Alarm Low Enable|ALARM_LO_ENABLE|bool|
bool|Caution Low Enable|CAUTION_LO_ENABLE|
bool|Caution High Enable|CAUTION_HI_ENABLE|
bool|Alarm High Enable|ALARM_HI_ENABLE|
dropdown|Alarm Type|ALARM_TYPE|High,Low,None|H,L,N|
