#    Tag
#    Description
#    Engineering Units Label
#    Driver Number
#    Card
#    Channel
#    Engineering Units Low
#    Engineering Units High
#    Raw Value Low
#    Raw Value High
#    Decimal Places
#    Zero Cutoff
#    Alarm Low
#    Caution Low
#    Caution High
#    Alarm High
#    Alarm Deadband
#    Alarm Low Enable
#    Caution Low Enable
#    Caution High Enable
#    Alarm High Enable
table|Analog Input|ai|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
separator|Driver|
string|Driver|driver|25|
string|Card|card|25|
int|Channel|channel|
separator|Engineering Units|
double|Engineering Units Low|eu_lo|
double|Engineering Units High|eu_hi|
double|Raw Value Low|raw_lo|
double|Raw Value High|raw_hi|
int|Decimal Places|decimal_places|
double|Zero Cutoff|zero_cutoff|
separator|Alarms|
double|Alarm Low|lo_alarm|
double|Caution Low|lo_caution|
double|Caution High|hi_caution|
double|Alarm High|hi_alarm|
double|Alarm Deadband|deadband|
bool|Alarm Low Enable|lo_alarm_enable|
bool|Caution Low Enable|lo_caution_enable|
bool|Caution High Enable|hi_caution_enable|
bool|Alarm High Enable|hi_alarm_enable|
