#    tag
#    description
#    engineering units
#    decimals
#    initial_value 
table|Analog Value|analog_value|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Engineering Units Label|eu|12|
int|Decimal Places|decimal_places|
double|Initial Value|initial_value|
