#    Tag (string max 25)
#    Description (string max 50)
#    Driver Number (char max 25)
#    Card (char max 25)
#    Channel (char max 25)
#    Low Description (string max 12)
#    High Description (string max 12)
#    Alarm State (drop down {high, low, none})
#    Shutdown State  (drop down {high, low, none})
table|Discrete Input|di|
Separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Driver|driver|25|
string|Card|card|25|
int|Channel|channel|
string|Low Description|lo_desc|12|
string|High Description|hi_desc|12|
Separator|Alarms|
dropdown|Alarm State|alarm_state|High,Low,None|H,L,N|
dropdown|Shutdown State|shutdown_state|High,Low,None|H,L,N|
