#    tag
#    description
#    lo description 
#    hi description 
#    initial_value 
table|Discrete Value|discrete_value|
Separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|Low Description|lo_desc|12|
string|High Description|hi_desc|12|
bool|Initial Value|initial_value|
