# tag
# description
# di point (low level)
# di point (high level)
# ai point (level)
# volume low to high in desired units
table|Level|level|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|DI Point (low level)|di_point_lo|25|
string|DI Point (high level)|di_point_hi|25|
string|AI Point (level)|ai_point_level|25|
double|Volume low to high|volume_lo_hi|
