# tag
# description
# di_point (pump on/off)
# amps_point (AI)
# level_point (AI)
# amps min
# amps max
# delay
table|Pump|pump|
separator|Basic Configuration|
string|Tag|tag|25|
string|Description|description|50|
string|DI Point (on/off)|di_point|25|
string|Amps Point|amps_point|25|
string|Level Point|level_point|25|
double|Amps Minimum|amps_min|
double|Amps Maximum|amps_max|
double|Delay|delay|
