#    Tag (string max 25)
#    Description (string max 50)
#    Driver Number (char max 25)
#    Card (char max 25)
#    Channel (char max 25)
#    Low Description (string max 12)
#    High Description (string max 12)
#    Alarm State (drop down {high, low, none})
#    Shutdown State  (drop down {high, low, none})
table|Discrete Input|DI|
Separator|Basic Configuration|
string|Tag|TAG|25|
string|Description|DESCRIPTION|50|
string|Driver|DRIVER|25|
string|Card|CARD|string|25|
int|Channel|CHANNEL|
string|Low Description|LO_DESCRIPTION|12|
string|High Description|HI_DESCRIPTION|12|
Separator|Alarms|
dropdown|Alarm State|ALARM_STATE|High,Low,None|H,L,N|
dropdown|Shutdown State|SHUTDOWN_STATE|High,Low,None|H,L,N|
