<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>Subestaciones</title>
<META HTTP-EQUIV="refresh" CONTENT="5">
<meta http-equiv="pragma" content="no-cache">

$$$$DI(HaveAlarm|<BGSOUND SRC="redalert.wav" LOOP="1">
<embed src="redalert.wav" autostart="true" loop="true" hidden="true" volume="100" height="0" width="0">
|)

<script language="javascript">
function openWin(url) 
{
  newWin = window.open(url,'newWin','height=400,width=400,resizable=yes,scrollbars=yes,status=no,dependent=yes');
  newWin.focus();
}
  </script>
<br>
</head>
<body style="color: rgb(0, 0, 0); background-color: rgb(204, 204, 204);"
 link="#000099" vlink="#990099" alink="#000099">




<table cellpadding="2" cellspacing="2" border="1"
 style="text-align: left; width: 100%; background-color: rgb(192, 192, 192);">
  <tbody>
    <tr align="center">
      <td style="vertical-align: top;">St<br>
      </td>
      <td style="vertical-align: top;" colspan="2">Preferente 23KV (J21)<br>
      </td>
      <td style="vertical-align: top;" colspan="2">Emergente 23KV (J11)<br>
      </td>
      <td style="vertical-align: top;" colspan="2">Alimentador de catenaria<br>(NC21)<br>
      </td>
      <td style="vertical-align: top;" colspan="2">Alimentador de catenaria<br>(NC22)<br>
      </td>
      <td style="vertical-align: top;">Alarm<br>
      </td>
    </tr>

    <tr>
      <td style="vertical-align: top;">1
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI13|255,102,102|192,192,192)
			);">Conectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI13|192,192,192|153, 255, 153)
			);">Desconectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI14|255,102,102|192,192,192)
			);">Conectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI14|192,192,192|153, 255, 153)
			);">Desconectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI15|255,102,102|192,192,192)
			);">Conectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI15|192,192,192|153, 255, 153)
			);">Desconectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI16|255,102,102|192,192,192)
			);">Conectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
			$$$$DI(DI16|192,192,192|153, 255, 153)
			);">Desconectado<br>
      </td>
      <td
 style="vertical-align: top; text-align: center; background-color: rgb(
                        $$$$DI(HaveAlarm|255, 255, 153|192, 192, 192)
			);">Alarm<br>
      </td>
    </tr>



  </tbody>
</table>
<br>
Ultima Actualizaci&oacute;n: $$$$TIME(                                                                              )
</body>
</html>
